<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <title>Inicio</title>
  </head>
  <body>
    <h1>Hola Mundo</h1>
  </body>
</html>
